html{
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  background-color: #EEEEEE;
}

h2{
position: relative;
display: inline-block;
padding: 0 55px;
}

h2:before, h2:after{
content: '';
position: absolute;
top: 50%;
display: inline-block;
width: 45px;
height: 2px;
border-top: solid 1px black;
border-bottom: solid 1px black;
}

h2:before {left:0;}
h2:after {right: 0;}

input[type="text"],
textarea {
    margin: 0, auto;
    padding: 1em;
    outline: none;
    border: 2px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
input[type="text"]{
  width:80%;
}

textarea {
    width: 80%;
    height: 500px;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
}


input[type="submit"]{
  font-size:22px;
  padding:6px 8px;
  margin: 20px;
}

.description{
  height:250px;

}

button{
  margin-top:16px;
  font-size: 18px;
  padding:6px 8px;
}
